* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden; /* prevent horizontal scroll on html */
}

body {
  overflow-x: hidden; /* prevent horizontal scroll on body */
}
